*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(215, 218, 224);
}

/* menu */
.menu {
    /* Use sticky instead of fixed */
    position: sticky;
    top:0;
    border-bottom: 1px solid black;
    background-color: rgb(215, 218, 224);
    height: 50px;
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex; /*makes horizontal*/
    list-style-type: none; 
    justify-content: center;
    width: 100%;    /* texts takes up 100% of menu width */
    padding: 0; /* needed to center text with height: 40px */
    margin: 0;  /* need for the above reason */
}
.menu li{
    width:100%;
    text-align: center;
}
.menu a{
    color: black;
    text-decoration: none;
}

/* title */
.title {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: rgb(93, 100, 135);
    text-shadow: /*easier to read like this */
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    
}

/* skill headers */
.h1, .h2{
    font-family: "Courier New", Courier, monospace;
    font-size: 2em; 
    color: rgb(111, 24, 24);
    margin: 20px auto; /* needs 20px so doesn't crash into section below, auto so its stays centered  */
    text-align: center;
    border: 3px solid rgb(111, 24, 24);
    padding: 5px 5px; /* how much space is in the boarder */
    border-radius: 15px; /* rounded corners */
    width: fit-content; /* wraps around the text and not the full boarder */
   /* maybe change background color or text color for more distinction... idk maybe */
   text-shadow: 0 0 15px rgba(111, 24, 24); /*for slight glowing affect */
}


/* section part */
.section {

    /* If you do not define height, it will automatically take the required height */
    width: 100%;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(209, 218, 232);
    border-top: 1px solid #333;
 }
 
 .cPlus, .communication, .adaptability{
    background-color: rgb(209, 218, 232);
 }
 .webDev {
    background-color: rgb(215, 218, 224);
    border-bottom: 1px solid #333;  /* unique boarder bottom for this sections */
 } 
 .problemSolv {
     background-color: rgb(215, 218, 224);
 
 }
 
 .flex-container {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     width: 100%;
     height: 100%;
 }
 
 .text {
     font-family: "Courier New", Courier, monospace;
     font-size: 1.2em;
     color: rgb(111, 24, 24);
     margin: 0 30px;
 }
 
 /* titles */
 .text::before {
     display: block;
     font-size: 1em;
     text-decoration: underline;
     margin-bottom: 5px;
 }
 .cPlus .text::before {content: "C++";}
 .webDev .text::before {content: "HTML / CSS / JS";}
 .communication .text::before {content: "COMMUNICATION";}
 .problemSolv .text::before {content: "PROBLEM SOLVING";}
 .adaptability .text::before {content: "ADAPTABILITY";}
 
 /* images */
 .cPlusImg, .webDevImg, .communicationImg, .problemSolvImg, .adaptabilityImg {
     width: auto;
     height: auto;
     max-width: 500px;
     object-fit: cover;
     margin-left: 10px;
     margin-right: 10px;
 }